* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto;
}

section ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

section ul li {
    list-style: none;
    background: #eee;
    padding: 12px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: capitalize;
    border-radius: 5px;
    transition: 0.5s;
}

section ul li:hover,
section ul li.active {
    background: #03a9f4;
    color: #fff;
}

section .product {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

section .product .item-box {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 5px;
    display: block;
    overflow: hidden;
    border-radius: 10px;
}

section .product .item-box.hide {
    display: none;
}

section .product .item-box img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}